.pixelart {
    image-rendering: pixelated;
}

.examples {
    height: 256px;
    width: 256px;
    background-color: black;
}

h1, h2, p, button {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(250, 250, 250);
    text-align: center;
    max-width: 600px;
}

p {
    margin-bottom: 0em
}

h2 {
    margin-bottom: 0.5em
}

.question {
    margin-bottom: 0em;
    margin-top: 0.5em;
    font-weight: bold;
}

.answer {
    margin-top: 0.1em;
    margin-bottom: 0.5em
}

button {
    background-color: black;
    border: none
}

body {
    background-color: rgb(43, 43, 43);
}