@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.pixelart {
    image-rendering: pixelated;
}

.skin {
    visibility: hidden;
}

.examples {
    height: 256px;
    width: 256px;
    background-color: black;
}

h1, h2, p, button, li {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: rgb(250, 250, 250);
    max-width: 600px;
}

li {
    margin-bottom: 0.1em;
}

p {
    margin-top: 0.1em;
    margin-bottom: 0em
}

h2 {
    margin-bottom: 0.5em
}

.question {
    margin-bottom: 0em;
    margin-top: 0.5em;
    font-weight: bold;
}

.answer {
    margin-top: 0.1em;
    margin-bottom: 0.5em
}

button {
    background-color: black;
    border: none
}

body {
    background-color: rgb(43, 43, 43);
}

a:visited, a:hover, a {
    color: rgb(110, 130, 213)
}